body {
    padding: 0;
    margin: 0;
    background-color: #bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
}

.header nav h1 {
    display: flex;
    justify-content: center;
    color: #bbbbbb;
    background-color: #2a56a2;
    margin: 0;
    padding: 20px;
}

.main {
    display: flex;
    padding-top: 20px;
    
}

.search {
    flex: 1;
    flex-direction: column;
    padding-left: 30px;
}

.results {
    flex: 4;
    padding-left: 20px;
    padding-right: 100px;
}

.city-container {
    border: 2px solid black;
}

.city {
    padding-left: 10px;
}

.weather-main {
    padding: 5px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
}

.day-card {
    color: #bbbbbb;
    background-color: #2a56a2;
    padding: 5px;
    flex-direction: column;
}

.date {
    font-weight: bold;
}